<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    <event name="customer_save_before">-->
<!--        <observer name="sarehub_customer_save_before" instance="Fwc\SAREhub\Observer\BeforeCustomerSave" />-->
<!--    </event>-->
    <!--<event name="checkout_cart_update_items_before">
        <observer name="sarehub_cart_update_items_after" instance="Fwc\SAREhub\Observer\CartUpdateItemsAfter" />
    </event>-->
    <!--<event name="checkout_cart_product_add_after">
        <observer name="sarehub_checkout_cart_product_add_after" instance="Fwc\SAREhub\Observer\ProductAddAfter" />
    </event>
    <event name="sales_quote_remove_item">
        <observer name="sarehub_checkout_quote_remove_item" instance="Fwc\SAREhub\Observer\QuoteRemoveItem" />
    </event>-->
</config>
